body {
  background-color: #f6f6c6;
  margin: 0;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: Arial;
}
h1 {
  font-family: cursive;
  text-align: center;
  font-size: 45px;
  color: #551a1a;
}

.app {
  background-color: #ffffcf;
  width: 900px;
  padding: 100px;
  height: 100vh;
  position: relative;
  margin-bottom: 100px;
}

.todo-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}
.input:hover {
  background-color: lightcyan;
}
.todo:hover {
  cursor: pointer;
  /* opacity: 0.6; */
}
input::placeholder {
  font-family: cursive;
  transform: scale(0.98);
}
